<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "popcorn.jpg" %>);">
  <div class="container">
    <h1>Pick your favourite movies and enjoy</h1>
    <p>Watchlists to keep track of what you want to watch</p>
  </div>
</div>
<div class="container mt-3">
  <div class="row justify-content-center gap-3">
    <% @lists.each do |list| %>
      <div class="card-category col-5" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path "movie_reels.jpg" %>)">
        <div class="card-product">
          <p class="mb-0"><%= link_to list.name, list_path(list), class: 'text-decoration-none text-white' %></p>
        </div>
      </div>
    <% end  %>
  </div>
</div>
<%= link_to "Add a new list", new_list_path, class:"btn btn-primary" %>