.card-category {
    height: 150px;
    background-size:cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 2rem;
    font-weight: bold;
}